* {
    margin: 0;
    padding: 0;
}

header {
    background-color: salmon;
}

.contains {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.burger {
    visibility: hidden;
    cursor: pointer;
}

.fermer {
    margin-bottom: 3px;
    visibility: hidden;
}

ul {
    list-style: none;
    display: flex;
}

ul>li>a {
    text-decoration: none;
    color: black;
    margin: 2rem;
    font-size: 1.2em;
}

@media screen and (max-width: 772px) {
    .menu {
        position: absolute;
        top: 68px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        justify-content: space-around;
        background-color: rgb(26, 24, 24);
        visibility: hidden;
    }
    ul>li>a {
        color: aqua;
    }
    .contains {
        display: flex;
        justify-content: space-between;
    }
    .ouvrir {
        visibility: visible;
    }
    .show {
        visibility: visible;
    }
    .hidden {
        visibility: hidden;
    }
}